* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(135deg, #257c4b, #5a6699);
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    width: 520px;
    background: #924679e0;
    padding: 20px;
    backdrop-filter: blur(10px);
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.display {
    width: 100%;
    height: 70px;
    background: rgba(247, 238, 238, 0.4);
    border: none;
    font-size: 2.3rem;
    text-align: right;
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 20px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
}

button {
    padding: 18px;
    font-size: 1.3rem;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.6);
    transition: 0.2s;
}

button:hover {
    background: rgba(255, 255, 255, 0.9);
}

.operator {
    background: #b7cc3f;
    color: white;
}

.operator:hover {
    background: #ff8c00;
}

.equal {
    grid-row: span 2;
    background: #41b43d;
    color: white;
}

.equal:hover {
    background: hsl(115, 79%, 28%);
}

.zero {
    grid-column: span 2;
}